.sidebar {
    position: fixed;
    top: 0px;   
    left: -300px;   
    width: 300px;
    height: 100%;
    z-index: 1000;

    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    transition: all ease-in-out 0.2s;
}

.sidebar > .logo {
    margin: 0;
    padding: 5px;
    width: 100%;
    max-height: 50px;
}

.sidebar-showed {
    left: 0px;   
}

.page-wrapper {
    overflow: hidden;
}

.page-wrapper > .navbar, 
.page-wrapper > .container-fluid {
    transition: all ease-in-out 0.2s;
    margin-left: 0px;
}

.page-wrapper.shift > .navbar, 
.page-wrapper.shift > .container-fluid {
    margin-left: 300px;
}

.page-wrapper > .navbar {
    border-radius: 0px 4px 4px 0px;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 0;
}

.menu {
    list-style: none;
    padding-left: 0px;
}

.menu-item {
    padding: 5px 10px;
    outline: none !important;
}

.menu-item > img {
    width: 25px;
    border-radius: 50%;
    box-shadow: 0px 1px 1px grey;
    margin-right: 5px;
}

.menu > .active {
    background-color: white;
    border-left: 5px solid #e7e7e7;
}

.menu-item:hover {
    background-color: white;
}

@media screen and (max-width: 768px) {
    .page-wrapper > .navbar {
        width: 100vw;
    }

    .page-wrapper.shift > .container-fluid {
        margin-left: 0px;
    }
}